---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Layout from '~/layouts/PageLayout.astro';

import { getFormattedDate } from '~/utils/utils';


import galleries from '~/content/galleries'

const metadata = {
  title: 'Gallery',
};
---

{/* TODO Pull these in*/}
<Layout metadata={metadata}>
  <div class="grid justify-items-center">
    <h1 class="text-4xl">Gallery</h1>
    <a href="https://utdallasrugby.weebly.com/match-pix.html" class="text-xl text-primary underline">Weebly Photos</a>

    {galleries.map(({title, date, link, key}) => (
    <h2 class="text-xl text-primary underline"><a href={link}>{title} - 
                                                 <time datetime={String(date)} >{date}</time></a></h2>
    <iframe
      src=`https://www.danieldphotos.com/frame/slideshow?key=${key}&speed=3&transition=fade&autoStart=1&captions=0&navigation=0&playButton=0&randomize=0&transitionSpeed=2`
      frameborder="no"
      scrolling="no"
{/* FIXME Hard-coded class="flex w-2/3" */}
      width="800"
      height="600"
></iframe>
  ))} 

    <CallToAction
      actions={[
      {
        variant: 'primary',
        text: 'Get in Touch',
        href: '/',
      },
    ]}
      title="Sponsor Us"
      subtitle="We're always looking for new sponsors!"
    />
</Layout>
